doctype html
html
  head
    title Hello
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation          
              span.icon-bar    
              span.icon-bar     
              span.icon-bar
            a.navbar-brand(href='/') HelloThere
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=(title == 'Members' ? 'active' : ''))
                a(href='/') Members  
              if !user
                  li(class=(title == 'Register' ? 'active' : ''))
                    a(href='/users/register') Register
                  li(class=(title == 'Login' ? 'active' : ''))
                    a(href='/users/login') Log In
            ul.nav.navbar-nav.navbar-right
              if user
                  li
                    a(href='/users/logout') Logout
      .container
          != messages()
          block content
    
  footer
      p&copy; 2015, All Rights Reserved
      
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')   
  script(src='javascripts/bootstrap.js')



        
        
        
